body { background-color: #0096d4; background-image: url("/images/bg_k.gif"); }
body,table,p { font-family:宋体, Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#ffffff; }

/********** 格式化背景 **********/
.bg { background-color:#FFFFFF; }

/********** 字体 **********/
.tims { font-family:Verdana, Arial; color: #808080; font-size:9px; }
.hand { cursor: hand; }
.red { color:#ff3300; }
.red2 { color:#CC3300; }
.popedom { color:#3131CE; }
.blue { color: #0066cc; }
.gray { color: #808080; }
.emoney { color:ff6600; }
.money { color:E92401; }
.user { color: #000080; }
.put { color: #000080; font-weight:bold; }
.hh { line-height:150%; }
.bb { font-weight:bold; }
.t { font-size:12px; color: #000000; font-weight:bold; }

/********** 格式化表格 **********/
.tablew { width:100%; }
.table { width:100%; border:1px; background-color: #d7d7d7; }
.table0 { width:100%; border: 1px; background-color: #d7d7d7; }
.table1 { width:70%; border: 1px; background-color: #d7d7d7; }
.table2 { width:40%; border: 1px; background-color: #d7d7d7; }
.tables { border:1px; background-color: #d7d7d7; }
.td { background-image: url("td.gif"); background-color: #808080; color: #ffffff; font-weight: bold; height: 25px; padding-left: 6px; padding-right: 6px; }
.th { background-image: url("th.gif"); background-color: #808080; color: #ffffff; font-weight:bold; height:25px; padding-left: 6px; padding-right: 6px; }
.tds { background-image: url("tds.gif"); background-color: #808080; color: #ffffff; font-weight:bold; height:25px; padding-left: 6px; padding-right: 6px; }
.tr { background-color: #ffffff; height: 25px; }
.tre { background-color: #ededed; height: 25px; }	/* 淡灰 */
.trsp { background-color: #e6ffcc; height: 25px; }	/* 淡绿 */
.tru { background-color: #f2fafc; height: 25px; }	/* 淡蓝 */
.trg { background-color: #e6ffcc; height: 25px; }	/* 淡绿 */
.trp { background-color: #ece9d8; height: 28px; }	/* 分页 */
.trb { background-color: #f2fafc; height: 40px; }	/* 按钮 */
.trerr { background-color: #f2fafc; height: 40px; }

/********** 左边菜单 **********/
.m_table { width:120px; border:0px; background-color: #ffffff; }
.m_table2 { width:80%; border: 0px; }
.m_td { background-color: #0096d4; color: #ffffff; font-weight:bold; cursor: hand; height:25px; }
.m_tr { }
.m_end { background-color: #0096d4; }

/********** 超链接 **********/
a { color: #ededed; text-decoration: none; }
a:hover { color: #ffffff; text-decoration: underline; }

a.h_t { color: #ffffff; font-weight:bold; text-decoration: none; }
a.h_t:hover { color: #ffffff; font-weight:bold; text-decoration: underline; }
a.h_menu { color: #000000; text-decoration: none; }
a.h_menu:hover { color: #ff3300; text-decoration: underline; }
