body { color:#000000; background-color: #c0c0c0; background-image: url("bg.gif"); }
body,table,p { font-family:����, Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#000000; }

/********** ��ʽ��Table **********/
table,tr,td,th { word-break: break-all; word-wrap: break-word; }
table.tbl { table-layout:fixed; }
td.tb { word-wrap:break-word; }
td.tk { word-break: keep-all; }
td.s { padding-left: 5px; padding-right: 5px; }
td.sl { padding-left: 5px; padding-right: 5px; text-align: left; }
td.sr { padding-left: 5px; padding-right: 5px; text-align: right; }

/********** ��ʽ������ **********/
.bg { background-color: #ffffff; }

/********** ���� **********/
.tims { font-family:Verdana, Arial; color: #808080; font-size:9px; }
.hand { cursor: hand; }
.red { color:#ff3300; }
.red2 { color:#CC3300; }
.popedom { color:#3131CE; }
.blue { color: #0066cc; }
.gray { color: #808080; }
.emoney { color:ff6600; }
.money { color:E92401; }
.user { color: #000080; }
.put { color: #000080; font-weight:bold; }
.hh { line-height:150%; }
.bb { font-weight:bold; }
.t { font-size:12px; color: #000000; font-weight:bold; }

/********** ��ʽ����� **********/
.tablew { width:100%; }
.table { width:100%; border:1px; background-color: #d7d7d7; }
.table0 { width:100%; border: 1px; background-color: #d7d7d7; }
.table1 { width:70%; border: 1px; background-color: #d7d7d7; }
.table2 { width:40%; border: 1px; background-color: #d7d7d7; }
.tables { width:100%; border:1px; background-color: #d7d7d7; }
.td { background-image: url("td.gif"); background-color: #808080; color: #ffffff; font-weight: bold; height: 25px; padding-left: 6px; padding-right: 6px; }
.th { background-image: url("th.gif"); background-color: #808080; color: #ffffff; font-weight:bold; height:25px; padding-left: 6px; padding-right: 6px; }
.tds { background-image: url("tds.gif"); background-color: #808080; color: #ffffff; font-weight:bold; height:25px; padding-left: 6px; padding-right: 6px; }
.tr { background-color: #ffffff; height: 25px; }
.tre { background-color: #ededed; height: 25px; }	/* ���� */
.trsp { background-color: #e6ffcc; height: 25px; }	/* ���� */
.tru { background-color: #f2fafc; height: 25px; }	/* ���� */
.trg { background-color: #e6ffcc; height: 25px; }	/* ���� */
.trp { background-color: #ece9d8; height: 28px; }	/* ��ҳ */
.trb { background-color: #f2fafc; height: 40px; }	/* ��ť */
.trerr { background-color: #f2fafc; height: 40px; }

/********** Data Array **********/
.t_table { background:#067016; border:1px solid #f7f7f7; }
.t_td { background-color: #66BD09; color: #FFFFFF; }
.t_tr { background: #f7f7f7; }

/********** Windows���� **********/
.div_alt { width:240px; margin-left:18px; border:1px solid black; background-color:#ffffe1; color:#000000; padding:2px; }
.div_pop { background-color: #ffffe1; color:#000000; border: 1px #808080 solid; padding: 2px; font-size: 12px; height: 20px; filter: Alpha(Opacity=0); }

/********** ������ **********/
a { color: #000000; text-decoration: underline; }
a:hover { color: #ff3300; text-decoration: underline; }

a.h_p_bar { color: #333333; text-decoration: none; }
a.h_p_bar:hover { color: #ff0000; text-decoration: underline; }
a.h_p_bars { color: #ff3300; text-decoration: none; }
a.h_p_bars:hover { color: #ff3300; text-decoration: underline; }

a.h_p_class { color: #333333; text-decoration: none; }
a.h_p_class:hover { color: #ff0000; text-decoration: underline; }
a.h_p_classs { color: #ff3300; text-decoration: none; }
a.h_p_classs:hover { color: #ff3300; text-decoration: underline; }

/********** ��ʽ������ʽ **********/
input.txt { border: 1px solid #c0c0c0; padding: 1px; background-color: #ffffff; height: 20px; }
input.txt_num { border: 1px solid #c0c0c0; padding: 1px; background-color: #ffffff; height: 20px; text-align: center; }
textarea.txtarea { border: 1px solid #c0c0c0; padding: 1px; background-color: #ffffff; }
select.sel { border: 1px solid #c0c0c0; padding: 1px; background-color: #ededed; }

input.btn
{
 border: 1px solid #c0c0c0; background-color: #f7f7f7; background-image: url("bg_btn.gif"); height: 22px;
 padding: 1px 10px 2px 20px;
}

input.btns
{
 border: 1px solid #c0c0c0; padding: 1px; background-color: #ededed; height: 20px;
}

.pggray { color:gray; text-decoration:none;font-size:14px }
.pgsyle {font-size:14px;}
A.pgsyle:active,a.pgsyle:hover,a.pgsyle:link, a.pgsyle:visited {font-size:14px;color: #000000;text-decoration:none}
a.pgsyle:hover { font-size:14px;color:red; text-decoration:underline}
