package config


func init()  {
	mail()
	//dingtalk()
}

func mail()  {
	MailConfig.UserEmail = "***07909@qq.com"
	// 端口号，:25也行
	MailConfig.MailSMTPPort = ":587"
	//邮箱的授权码，去邮箱自己获取
	MailConfig.MailPassword = "**hpfjzmzywbh***"
	// 此处填写SMTP服务器
	MailConfig.MailSMTPHost = "smtp.qq.com"
}

//
func dingtalk()  {
	DingTalkConfig.RobotToken = "***b76ad19377457b961f4d8c9142a0e90c768d33c73cdac304***"
	DingTalkConfig.RobotSecret ="***0a280cbbb18103f433ce4a8d668850a3ecc9898b47d9cd895d2***"
}


