*~
bazel-*
.bazelrc
.idea
.vagrant
Thumbs.db

# Eclipse
.project
.classpath
.settings/
# Maven
target/

#go.sum
public/cert
coverage.data
app/*/build
deploy/*/build/*
temp-demo

## private
private_my_*.go
MakeDockerConfig.mk
.env
